$color-primary: rgb(12, 102, 194);
$color-secondary: #eeeeee;
$color-nav: rgb(12, 102, 194);
$color-widget: white;
$font-primary: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
$border: 4px solid $color-primary;
$border-radius: 4px;
$shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$paddings: (
    "extraSmall":0.5rem,
    "small": 1rem,
    "medium": 2rem,
    "large": 4rem,
    "extraLarge": 8rem,
);
$font-weights: (
    "small": 300,
    "medium": 500,
    "large": 700,
);
$font-sizes: (
    "small": 0.8rem,
    "medium": 2rem,
    "large": 3rem,
);
$margins: (
    "extraSmall": 0.5rem,
    "small": 1rem,
    "medium": 2rem,
    "large": 5rem
);

