@import "../../../scss/base";

.standUp {
    width: 100%;
    border-radius: $border-radius;
    height: fit-content;
    box-shadow: $shadow;
    padding: map-get($paddings, "small");
    font-size: map-get($font-sizes, "small");
    background-color: $color-widget;
    border-top: $border;
}
.standUp__heading {
    color: $color-primary;
    padding-bottom: 0.2rem;
    border-bottom: 2px solid $color-primary;
    margin-bottom: map-get($margins, "small");
    font-weight: map-get($font-weights, "small");
    font-size: 1.3rem;
}

.standUp__input {
    margin-bottom: map-get($margins, "small");
    overflow: auto;
    font-size: map-get($font-sizes, "small");
}

.standUp__success {
    display: flex;
    justify-content: start;
    align-items: center;
    color: $color-primary;
    margin-bottom: map-get($margins, "small");
    h3 {
        margin-left: 0.5rem;
        font-weight: map-get($font-weights, "medium");
        font-size: 1rem;
        text-decoration: underline;
    }
    div {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }
}
.standUp__success__icon {
    font-size: 1.2rem;
    font-weight: map-get($font-weights, "medium");
}

@import "../../../scss/media";
