@import "base";
@media only screen and (max-width: 1400px) {
    .basicInfo__wrapper {
        padding-right: 2rem;
    }
    .sectionContainer {
        margin-right: 24 + 2rem;
        padding-left: 2rem;
    }
    .basicInfo__wrapper {
        width: 28rem;
        padding-right: 2rem;
    }
    .learningTable {
        width: 900px;
    }
}
@media only screen and (max-width: 1250px) {
    .basicInfo__wrapper {
        width: 100%;
        position: unset;
        height: fit-content;
        margin-top: 3.5rem;
    }
    .learningTable {
        width: unset;
    }
    .sectionContainer {
        width: 100%;
        margin: 0;
        padding-top: 0;
    }
    .standUp {
        padding: 2rem;
    }
    .standUp__heading {
        padding-bottom: 0.5rem;
        margin-bottom: 2rem;
        font-size: 2rem;
    }
    .learning {
        padding-bottom: 2rem;
    }
    .learning__heading {
        padding-bottom: 0.5rem;
        font-size: 2rem;
    }
    .add__icon {
        font-size: 1.5rem;
    }
    .resourceList__container {
        height: 20rem;
    }
    .resourceList__wrapper {
        padding: 0 2rem;
    }

    .jiraWid__search {
        flex-direction: column;
    }
    .jiraWid__jqlFilter {
        width: 100%;
        margin-right: 0rem;
    }
    .jiraWid__filter {
        margin-right: 0rem;
        width: 100%;
    }
    .btn--blue {
        margin-left: 0rem !important;
    }
    .btn--white {
        margin-left: 0rem !important;
    }
    .learning__heading {
        padding-bottom: 0.2rem;
        font-size: 1.5rem;
    }
    .standUp__heading {
        padding-bottom: 0.2rem;
        font-size: 1.5rem;
    }
    .section {
        h1 {
            padding-bottom: 0.2rem;
            font-size: 1.5rem;
        }
    }
}

@media only screen and (max-width: 950px) {
    .learningTable {
        width: 1000px;
    }
    .basicInfo__wrapper {
        padding: 1rem;
        padding-bottom: 2rem;
    }
    .sectionContainer {
        padding: 1rem;
        padding-top: 0;
    }
    // .teamStandUpList {
    //     padding: 0;
    //     h1 {
    //         margin: 1rem;
    //         margin-bottom: 2rem;
    //     }
    // }

    .teamForm {
        form {
            width: 30rem;
        }
    }
    .postResource {
        form {
            width: 30rem;
        }
    }

    // .teamStandUpList__add {
    //     margin: 0 1rem;
    //     margin-bottom: map-get($margins, "small");
    // }
    .ReactVirtualized__Grid__innerScrollContainer[style] {
        padding: 0 2rem;
        overflow: visible !important;
    }
    .landingPage__wrapper {
        width: 95%;
    }
}

@media only screen and (max-width: 760px) {
    .profile__imgHolder {
        width: 2.5rem;
        height: 2.5rem;
        top: 0.5rem;
        right: 0.5rem;
    }
    .section {
        padding: 1rem;
    }
    .standUp {
        padding: 1rem;
    }
    .teamStandUpList {
        padding: 0;
        h1 {
            margin: 1rem;
            margin-bottom: 2rem;
        }
    }
    .teamInstruction {
        margin: 1rem;
    }
    .ReactVirtualized__Grid__innerScrollContainer[style] {
        padding: 0 1rem;
    }
    .landingPage__wrapper {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        border-radius: 1rem;
        background-color: white;
    }
    .signInSection {
        width: 100%;
        background-color: #fafafa;
        border-radius: 1rem;
    }
    .signin__modal {
        height: 15rem;
        padding: 1rem;
    }
    .landingPage__navbar__heading {
        font-size: 1.5rem;
    }
    .signin__modal__content {
        h3 {
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }
    }
    .teamMember__list__item {
        display: flex;
        justify-content: start;
        flex-direction: column;
        align-items: center;
    }
    .teamStandUpList__param {
        width: 100%;
        margin-bottom: 0.5rem;
    }
    .teamStandUpList__value {
        width: 100%;
    }
    .dashboardNavbar {
        width: 100%;
        height: 3.5rem;
        h1 {
            font-size: 1.5rem;
        }
    }
    .dashboardNavbar__icon {
        font-size: 1.5rem;
        margin-right: 1rem;
    }
    .teamForm {
        form {
            width: 23rem;
        }
    }
    .postResource {
        form {
            width: 23rem;
        }
    }
    .instruction__item {
        font-size: 1rem;
    }
    .teamStandUpList__add {
        margin: 0 1rem;
        margin-bottom: map-get($margins, "small");
    }
}

@media only screen and (max-width: 400px) {
    .basicInfo__wrapper {
        padding: 0.5rem;
        padding-bottom: 2rem;
    }
    .sectionContainer {
        padding: 0.5rem;
        padding-top: 0;
    }
    html {
        font-size: 100%;
    }
    .section {
        padding: map-get($paddings, "extraSmall");
    }
    .dashboardContainer {
        padding: map-get($paddings, "extraSmall");
    }
    .profile {
        padding: map-get($paddings, "extraSmall");
    }
    .standUp {
        padding: map-get($paddings, "extraSmall");
    }
    .learning__heading {
        margin: 0.5rem;
    }
    .resourceList__wrapper {
        padding: 0 0.5rem;
    }
    .dashboardNavbar {
        width: 100%;
        height: 3.5rem;
        h1 {
            font-size: 1.3rem;
        }
    }
    .dashboardNavbar__icon {
        font-size: 1.3rem;
        margin-right: 0.5rem;
    }
    .teamStandUpList {
        padding: 0;
        h1 {
            margin: 0.5rem;
            margin-bottom: 2rem;
        }
    }

    .teamStandUpList__add {
        margin: 0 0.5rem;
        margin-bottom: 0.5rem;
    }

    .teamStandUpList ul {
        ul {
            padding: map-get($paddings, "extraSmall");
            margin-bottom: map-get($margins, "small");
        }
    }
    .ReactVirtualized__Grid__innerScrollContainer[style] {
        padding: 0 0.5rem;
        overflow: visible !important;
    }
    .teamInstruction {
        margin: 0.5rem;
    }
}
