
@import "base";
.signin {
    height: 100%;
    width: 100%;
    @include flexCenter(column);

    // &__modal {
    //     width: fit-content;
    //     background: #ffffff;
    //     box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    //     padding: 1rem;
    //     border-radius: 1rem;
    //     transition: all 0.3s;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: space-around;
    //     align-items: center;

    //     &__close {
    //         width: 100%;
    //         display: flex;
    //         justify-content: flex-end;
    //         align-items: center;

    //         &__icon {
    //             font-size: map-get($font-sizes, "medium");
    //             color: black;
    //             cursor: pointer;
    //         }
    //     }
    //     &__content {
    //         @include flexCenter(column);
    //         padding: 4rem 6rem;
    //         padding-top: 2rem;
    //         h3 {
    //             all: unset;
    //             font-size: map-get($font-sizes, "medium");
    //             font-weight: map-get($font-weights, "medium");
    //             text-align: center;
    //             margin: 0;
    //             line-height: 1;
    //             margin-bottom: 4rem;
    //         }
    //     }
    // }
}
.signin__modal {
    width: fit-content;
    height: 25rem;
    // background: #ffffff;
    // box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 1rem;
    border-radius: 1rem;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.signin__modal__close {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.signin__modal__close__icon {
    font-size: map-get($font-sizes, "medium");
    color: black;
    cursor: pointer;
}
.signin__modal__content {
    @include flexCenter(column);
    padding: 4rem 6rem;
    h3 {
        all: unset;
        font-size: map-get($font-sizes, "medium");
        font-weight: map-get($font-weights, "medium");
        text-align: center;
        margin: 0;
        line-height: 1;
        margin-bottom: 4rem;
    }
}
.landingPage__wrapper{
    width: 70%;
    height: 50%;
    margin: auto;
    display: flex;
    padding: 1rem;
    border-radius: 1rem;
    background-color: white;
}
.signInSection{
    width: 50rem;
    // background-color: black;
    background-color: #FAFAFA;
    border-radius: 1rem;
    
}
.landingPage__image {
    background-image: url("https://mms.businesswire.com/media/20200909005490/en/819520/23/Sprinklr_Brand_Logo_-_PNG_RGB_logo_horiz_col.jpg");
    // background-blend-mode: luminosity;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}
.landingPage{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/cool-background.png");
    background-size: cover;
    // background-color: rgb(60, 131, 176);

}
@import "media";