@import "../../../scss/base";

.teamStandUpList {
    padding: 0;
    h1 {
        margin: map-get($margins, "medium");
    }
}
.teamStandUpList__loader {
    width: 100%;
    height: 100%;
    padding: map-get($paddings, "medium");
    padding-top: 0;
}

.teamStandUpList__OuterUl {
    width: 100%;
    margin-bottom: map-get($margins, "medium");
    list-style: none;
    overflow: auto;
    max-height: 45rem;
    ul {
        list-style: none;
        padding: map-get($paddings, "small");
        margin: 0.1rem;
        margin-bottom: map-get($margins, "small");
        border-radius: $border-radius;
        box-shadow: $shadow;
        li {
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-size: map-get($font-sizes, "small");
            margin-bottom: 0.5rem;
        }
    }
}
.teamStandUpList__param {
    width: 30%;
    font-weight: map-get($font-weights, "medium");
    text-decoration: underline;
}
.teamStandUpList__value {
    width: 70%;
    background-color: $color-secondary;
    padding: map-get($paddings, "extraSmall");
    border-radius: $border-radius;
}

.teamStandUpList__add {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0 map-get($margins, "medium");
    margin-bottom: map-get($margins, "small");
}

.teamStandUpList__delete {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.teamInstruction {
    margin: 0 map-get($margins, "medium");
}

.teamInstruction__btn {
    margin: map-get($margins, "medium");
    margin-top: 0;
}
.ReactVirtualized__Grid__innerScrollContainer[style] {
    padding: 2rem;
    padding-top: 0;
    z-index: 0 !important;
    overflow: visible !important;
}
@import "../../../scss/media";
