@import "../../../scss/base";

.dashboardContainer {
    margin-top: 3.5rem;
    padding: map-get($paddings, "medium");
}
.basicInfo {
    width: 100%;
    height: 100%;
    margin-bottom: 100%;
}
.basicInfo__OuterWrapper {
    padding: 2rem;
    width: 29rem;
    position: fixed;
    overflow: auto;
    height: 95vh;
    z-index: 1;
}
.sectionContainer {
    margin-left: 25 + 2rem;
    height: fit-content;
    @include flexCenter(column);
    padding: 2rem;
    margin-top: 3.5rem;
}
.section {
    width: 100%;
    height: fit-content;
    margin-bottom: map-get($margins, "medium");
    padding: map-get($paddings, "medium");
    border-top: $border;
    box-shadow: $shadow;
    border-radius: $border-radius;

    h1 {
        color: $color-primary;
        padding-bottom: 0.5rem;
        border-bottom: 2px solid $color-primary;
        margin-bottom: map-get($margins, "medium");
        font-weight: map-get($font-weights, "small");
    }
}

@import "../../../scss/media";
