@import "../../../scss/base";

.profile {
    width: 20rem;
    height: fit-content;
    @include flexCenter(column);
    box-shadow: $shadow;
    padding: 0.5rem;
    border-radius: $border-radius;
    margin-bottom: map-get($margins, "medium");
    position: relative;
    top: 0.5rem;
    right: 17rem;
    z-index: 11 !important;
    background-color: $color-primary;

    ul {
        width: 100%;
        list-style: none;
        border-radius: $border-radius;
    }

    li {
        font-size: map-get($font-sizes, "small");
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 0.5rem;
        h1{
            font-weight: 300;
            color: white;
            padding-top: 0.5rem;
            width: 100%;
            text-align: center;
            border-top: 1px solid white;
            font-size: 1rem;
        }
    }
}

.profile__param {
    width: 25%;
    font-weight: map-get($font-weights, "medium");
    color: white;
}

.profile__value {
    width: 75%;
    word-break: break-all;
    background-color: $color-widget;
    padding: map-get($paddings, "extraSmall");
    border-radius: $border-radius;
    margin-left: map-get($margins, "small");
    background-color: $color-secondary;
}

@import "../../../scss/media";
