* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 100%;
  font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html,
body,
#root {
  height: 100%;
}

.signin {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(0, 0, 0, 0.6);
}

.signin__modal {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #ffffff;
  -webkit-box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
          box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 1rem;
  border-radius: 1rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signin__modal__close {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signin__modal__close__icon {
  font-size: 2rem;
  color: black;
  cursor: pointer;
}

.signin__modal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4rem 6rem;
  padding-top: 2rem;
}

.signin__modal__content h3 {
  all: unset;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin: 0;
  line-height: 1;
  margin-bottom: 4rem;
}

.landingPage {
  background-image: url("./assets/Sprinklr_Logo.png");
  background-blend-mode: luminosity;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #3c83b0;
  width: 100%;
  height: 100%;
}

.dashboardNavbar {
  background-color: #0c66c2;
  width: 100%;
  height: 3.5rem;
  position: fixed;
  top: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.dashboardNavbar h1 {
  all: unset;
  font-size: 2rem;
  font-weight: 300;
  color: white;
  margin: auto;
  text-align: center;
}

.dashboardNavbar__icon {
  position: fixed;
  right: 0;
  font-size: 2rem;
  margin-right: 2rem;
  cursor: pointer;
  color: white;
}

.dashboardNavbar__icon__description {
  display: none;
}

.dashboardNavbar__icon:hover + .dashboardNavbar__icon__description {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px;
  background-color: #0c66c2;
  color: white;
  border-radius: 4px;
  position: fixed;
  top: 3.6rem;
  right: 1rem;
  z-index: 2;
}

.dashboardContainer {
  margin-top: 3.5rem;
  padding: 2rem;
}

.sectionContainer {
  margin-left: 27rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 2rem;
  padding: 2rem;
  border-top: 4px solid #0c66c2;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 4px;
}

.section h1 {
  color: #0c66c2;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #0c66c2;
  margin-bottom: 2rem;
  font-weight: 300;
}

.loader {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.basicInfo {
  width: 25rem;
  position: fixed;
  height: 100%;
}

.profile {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 2rem;
  border-top: 4px solid #0c66c2;
}

.profile__imgHolder {
  width: 6rem;
  height: 6rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0px auto;
}

.profile__param {
  width: 25%;
  font-weight: 500;
  text-decoration: underline;
}

.profile__value {
  width: 75%;
  word-break: break-all;
  background-color: white;
  padding: 0.5rem;
  border-radius: 4px;
  margin-left: 1rem;
  background-color: #eeeeee;
}

.profile img {
  width: 100%;
  height: 100%;
  border-radius: 70px;
}

.profile ul {
  width: 100%;
  list-style: none;
  margin-top: 1rem;
  border-radius: 4px;
}

.profile li {
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
}

.standUp {
  width: 100%;
  border-radius: 4px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;
  font-size: 0.8rem;
  background-color: white;
  border-top: 4px solid #0c66c2;
}

.standUp__heading {
  color: #0c66c2;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #0c66c2;
  margin-bottom: 1rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.standUp__input {
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.8rem;
}

.standUp__success {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0c66c2;
  margin-bottom: 1rem;
}

.standUp__success h3 {
  margin-left: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: underline;
}

.standUp__success__icon {
  font-size: 1.2rem;
  font-weight: 500;
}

.standUp__success div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.requestForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  border-top: 4px solid #0c66c2;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 2rem;
}

.teamStandUpList {
  padding: 0;
}

.teamStandUpList h1 {
  margin: 2rem;
}

.teamStandUpList__loader {
  width: 100%;
  height: 100%;
  padding: 2rem;
  padding-top: 0;
}

.teamStandUpList__OuterUl {
  padding: 2rem;
  padding-top: 0.1rem;
  padding-bottom: 0;
  margin-bottom: 2rem;
  list-style: none;
  overflow: auto;
  max-height: 45rem;
}

.teamStandUpList__OuterUl ul {
  list-style: none;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.teamStandUpList__OuterUl ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.teamStandUpList__OuterUl .teamStandUpList__param {
  width: 30%;
  font-weight: 500;
  text-decoration: underline;
}

.teamStandUpList__OuterUl .teamStandUpList__value {
  width: 70%;
  background-color: #eeeeee;
  padding: 0.5rem;
  border-radius: 4px;
}

.teamStandUpList__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2rem;
  margin-bottom: 1rem;
}

.teamStandUpList__delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.teamForm {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 3.5rem;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(0, 0, 0, 0.3);
}

.teamForm .teamForm__modal__close {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.teamForm .teamForm__modal__close__icon {
  color: #0c66c2;
  font-size: 1.5rem;
  cursor: pointer;
}

.teamForm__btnHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 0.5rem;
}

.teamForm form {
  width: 40rem;
  margin: auto;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;
  background-color: white;
  border-radius: 4px;
  border-top: 4px solid #0c66c2;
}

.teamForm form div {
  width: 100%;
}

.teamForm form h2 {
  color: #0c66c2;
  font-size: 1rem;
  font-weight: 300;
}

.teamForm form h2 span {
  color: black;
  text-decoration: underline;
}

.teamInstruction {
  margin: 0 2rem;
}

.teamInstruction__btn {
  margin: 2rem;
  margin-top: 0;
}

.jiraWid__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 0.5rem;
}

.jiraWid__jqlFilter {
  margin-right: 1rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.jiraWid__filter {
  margin-right: 1rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  flex-grow: 1;
}

.jiraWid__mb {
  margin-bottom: 1rem;
}

.table {
  width: 100%;
}

.table__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
}

.table__footerLeft {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.btn--blue {
  background-color: #0c66c2 !important;
  color: white !important;
  height: 2.2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 0.5rem !important;
}

.btn--blue:hover {
  opacity: 0.9;
}

.btn--white {
  background-color: white !important;
  color: #0c66c2 !important;
  height: 2.2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 0.5rem !important;
}

.btn--white:hover {
  background-color: #eeeeee !important;
}

.btn__container {
  margin-top: 2rem;
}

.btn--auth {
  background-color: #0c66c2 !important;
  color: white !important;
  height: 2.2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn--mb {
  margin-bottom: 1rem !important;
}

.instruction__item {
  list-style: none;
  margin: 0.8rem auto;
  font-size: 1.2rem;
  font-weight: 300;
}

.jp {
  width: 25px;
  height: 25px;
  margin-left: 1rem;
}

.jp__description {
  display: none;
}

.jp:hover + .jp__description {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px;
  background-color: #0c66c2;
  color: #eeeeee;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
}

.jiraIssueUrl {
  color: #0c66c2;
  font-weight: 500;
}

.jiraIssueUrl:hover {
  color: blue;
  text-decoration: underline;
}

.table__headCell {
  padding: 16px !important;
  border-bottom: 1px solid #c8c8c8 !important;
}

.table__row {
  border-bottom: 1px solid #c8c8c8 !important;
}

.table__cell {
  font-weight: 350 !important;
  padding: 16px !important;
  overflow: auto !important;
}

.table__Container {
  overflow: auto;
}

.btnCustom {
  background-color: #0c66c2 !important;
  color: white;
  border-radius: 4px !important;
}

.btnCustom:hover {
  opacity: 0.9;
}

.btnCustom--tertiary {
  color: #0c66c2 !important;
  border-radius: 4px !important;
  background-color: white !important;
}

.btnCustom--tertiary:hover {
  background-color: #0c66c2 !important;
  color: white !important;
}

.inputCustom {
  border-radius: 4px !important;
  color: black;
}

.ml1 {
  margin-left: 1rem !important;
}

.ml12 {
  margin-left: 0.5rem !important;
}

.mt1 {
  margin-top: 0.8rem !important;
}

@media screen and (max-width: 1350px) {
  .jiraWid__search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .jiraWid__jqlFilter {
    width: 100%;
    margin-right: 0rem;
  }
  .jiraWidfilter {
    margin-right: 0rem;
    width: 100%;
  }
  .btn--blue {
    margin-left: 0rem !important;
  }
  .btn--white {
    margin-left: 0rem !important;
  }
}

@media only screen and (max-width: 1350px), (max-height: 950px) {
  .basicInfo {
    width: 100%;
    position: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 2rem;
  }
  .basicInfo__wrapper {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .sectionContainer {
    margin-left: 0;
  }
  .basicInfo__wrapper {
    margin-right: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 70%;
  }
  .profile {
    margin: 0;
    width: 100%;
  }
  .profile .profile__imgHolder {
    width: 9rem;
    height: 9rem;
    margin-bottom: 1rem;
  }
  .requestForm {
    margin-bottom: 0;
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 950px) {
  .basicInfo__wrapper {
    margin-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .dashboardContainer {
    padding: 1rem;
  }
  .basicInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .basicInfo__wrapper {
    margin-right: 0;
  }
  .profile {
    margin: 0px;
    width: 100%;
  }
  .section {
    padding: 1rem;
  }
  .teamStandUpList {
    padding: 0;
  }
  .teamStandUpList h1 {
    margin: 1rem;
    margin-bottom: 2rem;
  }
  .teamStandUpList ul {
    padding: 1rem;
    padding-top: 0.2rem;
  }
  .teamForm form {
    width: 30rem;
  }
  .standUp {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 650px) {
  html {
    font-size: 100%;
  }
  .teamStandUpList ul ul {
    padding: 1rem;
    margin-bottom: 1rem;
  }
  .teamStandUpList ul ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .teamStandUpList ul .teamStandUpList__param {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .teamStandUpList ul .teamStandUpList__value {
    width: 100%;
  }
  .dashboardNavbar {
    width: 100%;
    height: 3.5rem;
  }
  .dashboardNavbar h1 {
    font-size: 1.5rem;
  }
  .dashboardNavbar .dashboardNavbar__icon {
    font-size: 1.5rem;
    margin-right: 1rem;
  }
  .teamForm form {
    width: 25rem;
  }
  .instruction__item {
    font-size: 1rem;
  }
  .teamStandUpList__add {
    margin: 0 1rem;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 100%;
  }
  .section {
    padding: 0.5rem;
  }
  .dashboardContainer {
    padding: 0.5rem;
  }
  .profile {
    padding: 0.5rem;
  }
  .standUp {
    padding: 0.5rem;
  }
  .dashboardNavbar {
    width: 100%;
    height: 3.5rem;
  }
  .dashboardNavbar h1 {
    font-size: 1.3rem;
  }
  .dashboardNavbar .dashboardNavbar__icon {
    font-size: 1.3rem;
    margin-right: 0.5rem;
  }
  .teamStandUpList {
    padding: 0;
  }
  .teamStandUpList h1 {
    margin: 0.5rem;
    margin-bottom: 2rem;
  }
  .teamStandUpList ul {
    padding: 0.5rem;
    padding-top: 0.2rem;
  }
  .teamStandUpList__add {
    margin: 0 0.5rem;
    margin-bottom: 1rem;
  }
  .teamStandUpList ul ul {
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */