@import "./variables";
@import "./resets";

@mixin flexCenter($dir) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $dir;
}

.signin {
    height: 100%;
    width: 100%;
    @include flexCenter(column);
    background: rgba(0, 0, 0, 0.6);

    &__modal {
        width: fit-content;
        background: #ffffff;
        box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
        padding: 1rem;
        border-radius: 1rem;
        transition: all 0.3s;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        &__close {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            &__icon {
                font-size: map-get($font-sizes, "medium");
                color: black;
                cursor: pointer;
            }
        }
        &__content {
            @include flexCenter(column);
            padding: 4rem 6rem;
            padding-top: 2rem;
            h3 {
                all: unset;
                font-size: map-get($font-sizes, "medium");
                font-weight: map-get($font-weights, "medium");
                text-align: center;
                margin: 0;
                line-height: 1;
                margin-bottom: 4rem;
            }
        }
    }
}

.landingPage {
    background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.5)
        ),
        url("./assets/main.png");
    background-blend-mode: luminosity;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.dashboardNavbar {
    background-color: $color-nav;
    width: 100%;
    height: 3.5rem;
    position: fixed;
    top: 0;
    z-index: 10;
    @include flexCenter(row);
    h1 {
        all: unset;
        font-size: map-get($font-sizes, "medium");
        font-weight: map-get($font-weights, "small");
        color: $color-widget;
        margin: auto;
        text-align: center;
    }
    &__icon {
        position: fixed;
        right: 0;
        font-size: map-get($font-sizes, "medium");
        margin-right: 2rem;
        cursor: pointer;
        color: $color-widget;
    }
}

.dashboardContainer {
    margin-top: 3.5rem;
    padding: map-get($paddings, "medium");
}

.basicInfo {
    width: 25rem;
    position: fixed;
}

.profile {
    width: 100%;
    height: fit-content;
    @include flexCenter(column);
    box-shadow: $shadow;
    padding: map-get($paddings, "small");
    border-radius: $border-radius;
    margin-bottom: map-get($margins, "medium");
    border-top: $border;

    &__imgHolder {
        width: 8rem;
        height: 8rem;
        object-fit: cover;
        margin: 0px auto;
        margin-bottom: 0.5rem;
    }

    &__param {
        width: 25%;
        font-weight: map-get($font-weights, "medium");
        text-decoration: underline;
    }

    &__value {
        width: 75%;
        word-break: break-all;
        background-color: $color-widget;
        padding: map-get($paddings, "extraSmall");
        border-radius: $border-radius;
        margin-left: map-get($margins, "small");
        background-color: $color-secondary;
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: 70px;
    }

    ul {
        width: 100%;
        list-style: none;
        padding: map-get($paddings, "small") 0px;
        border-radius: $border-radius;
    }

    li {
        font-size: map-get($font-sizes, "small");
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 0.5rem;
    }
}

.standUp {
    width: 100%;
    border-radius: $border-radius;
    height: fit-content;
    box-shadow: $shadow;
    padding: map-get($paddings, "small");
    font-size: map-get($font-sizes, "small");
    background-color: $color-widget;
    border-top: $border;

    &__input {
        margin-bottom: map-get($margins, "small");
        overflow: auto;
        font-size: map-get($font-sizes, "small");
    }
    &__success {
        display: flex;
        justify-content: start;
        align-items: center;
        color: $color-primary;
        margin-bottom: map-get($margins, "small");
        h3 {
            margin-left: 0.5rem;
            font-weight: map-get($font-weights, "medium");
            font-size: 1rem;
            text-decoration: underline;
        }
        &__icon {
            font-size: 1.2rem;
            font-weight: map-get($font-weights, "medium");
        }
    }
}

.requestForm {
    @include flexCenter(row);
    width: 100%;
    border-top: $border;
    box-shadow: $shadow;
    height: fit-content;
    padding: map-get($paddings, "small");
    border-radius: $border-radius;
    margin-bottom: map-get($margins, "medium");
}

.sectionContainer {
    margin-left: 25rem + 2rem;
    height: fit-content;
    @include flexCenter(column);
}
.section {
    width: 100%;
    height: fit-content;
    margin-bottom: map-get($margins, "large");
    padding: map-get($paddings, "medium");
    border-top: $border;
    box-shadow: $shadow;
    border-radius: $border-radius;

    h1 {
        color: $color-primary;
        padding-bottom: 0.5rem;
        border-bottom: 2px solid $color-primary;
        margin-bottom: map-get($margins, "medium");
        font-weight: map-get($font-weights, "small");
    }
}

.teamStandUpList ul {
    overflow: auto;
    max-height: 45rem;
    padding: 0.1rem;
    list-style: none;
    ul {
        list-style: none;
        padding: map-get($paddings, "small");
        margin-bottom: map-get($margins, "small");
        border-radius: $border-radius;
        box-shadow: $shadow;
        li {
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-size: map-get($font-sizes, "small");
            margin-bottom: 0.5rem;
        }
    }
    .teamStandUpList__param {
        width: 30%;
        font-weight: map-get($font-weights, "medium");
        text-decoration: underline;
    }
    .teamStandUpList__value {
        width: 70%;
        background-color: $color-secondary;
        padding: map-get($paddings, "extraSmall");
        border-radius: $border-radius;
    }
}

.teamStandUpList__add {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__icon {
        font-size: 1.5rem;
        font-weight: map-get($font-weights, "large");
        color: $color-primary;
        margin-right: 2.5rem;
        cursor: pointer;
    }
}

.teamStandUpList__delete {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__icon {
        font-size: 1.5rem;
        font-weight: map-get($font-weights, "large");
        color: $color-primary;
        cursor: pointer;
    }
}
.loader {
    width: 100%;
    height: 100%;
    @include flexCenter(row);
}
.teamForm {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 3.5rem;
    left: 0;
    @include flexCenter(column);
    background: rgba(0, 0, 0, 0.6);

    &__modal {
        height: 30rem;
        width: 40rem;
        background-color: $color-primary;
        border-radius: $border-radius;
        padding: map-get($paddings, "small");
        @include flexCenter(column);
        &__close {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            position: sticky;
            &__icon {
                color: $color-widget;
                font-size: map-get($font-sizes, "medium");
                cursor: pointer;
            }
        }
        form {
            width: 80%;
            margin: auto;
            box-shadow: $shadow;
            padding: map-get($paddings, "small");
            background-color: $color-widget;
            border-radius: $border-radius;
            div {
                width: 100%;
                @include flexCenter(row);
            }
        }
    }
}

.btnCustom {
    background-color: $color-primary !important;
    color: white;
    border-radius: $border-radius !important;
}
.inputCustom {
    border-radius: $border-radius !important;
    color: black;
}

.jiraWid {
    &__search {
        display: flex;
        margin-bottom: 0.5rem;
    }
    &__jqlFilter {
        width: 41rem;
        margin-right: 1rem;
    }
    &__filter {
        margin-right: 1rem;
        width: 20rem;
    }
}

.table {
    width: 100%;
    &__footer {
        display: flex;
    }
    &__footerLeft {
        flex-grow: 1;
    }
}
.btn {
    &--blue {
        background-color: $color-primary !important;
        color: white !important;
        height: 2.2rem;
        width: fit-content;
        margin-left: 0.5rem !important;
    }
    &--white {
        background-color: white !important;
        color: $color-primary !important;
        height: 2.2rem;
        width: fit-content;
        margin-left: 0.5rem !important;
    }
    &__container {
        margin-top: 2rem;
    }
    &--auth {
        background-color: $color-primary !important;
        color: white !important;
        height: 2.2rem;
        width: fit-content;
    }
}
.instruction {
    &__item {
        list-style: none;
        margin: 0.8rem auto;
        font-size: 1.2rem;
        font-weight: map-get($font-weights, "small");
    }
}

.jp {
    width: 25px;
    height: 25px;
    margin-left: 1rem;

    &__description {
        display: none;
    }
    &:hover + &__description {
        display: block;
        width: fit-content;
        padding: 4px;
        background-color: $color-primary;
        color: $color-secondary;
        border-radius: $border-radius;
        position: absolute;
        z-index: 1;
    }
}

.jiraIssueUrl {
    color: black;
    font-weight: map-get($font-weights, "medium");
    &:hover {
        color: $color-primary;
        text-decoration: underline;
    }
}

.ml1 {
    margin-left: 1rem !important;
}

@media only screen and (max-width: 1350px) {
    .basicInfo {
        width: 100%;
        position: unset;
        @include flexCenter(row);
        margin-bottom: map-get($margins, "medium");
        &__wrapper {
            width: fit-content;
        }
    }
    .sectionContainer {
        margin-left: 0;
    }
    .basicInfo__wrapper {
        margin-right: map-get($margins, "medium");
        @include flexCenter(column);
        width: 70%;
    }
    .profile {
        margin: 0;
        margin-bottom: map-get($margins, "medium");
        width: 100%;

        #{&}__imgHolder {
            width: 9rem;
            height: 9rem;
            margin-bottom: map-get($margins, "small");
        }
    }
    .requestForm {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 950px) {
    .basicInfo__wrapper {
        margin-right: 0;
        @include flexCenter(column);
        width: 100%;
    }
    .dashboardContainer {
        padding: map-get($paddings, "small");
    }

    .basicInfo {
        @include flexCenter(column);
        &__wrapper {
            margin-right: 0;
        }
    }
    .profile {
        margin: 0px;
        margin-bottom: map-get($margins, "medium");
        width: 100%;
    }
    .section {
        padding: map-get($paddings, "small");
    }
    .requestForm {
        margin-bottom: map-get($margins, "medium");
    }
}

@media only screen and (max-width: 650px) {
    html {
        font-size: 100%;
    }
    .teamStandUpList ul {
        ul {
            padding: map-get($paddings, "small");
            margin-bottom: map-get($margins, "small");

            li {
                display: flex;
                justify-content: start;
                flex-direction: column;
                align-items: center;
            }
        }
        .teamStandUpList__param {
            width: 100%;
            margin-bottom: 0.5rem;
        }
        .teamStandUpList__value {
            width: 100%;
        }
    }
    .dashboardNavbar {
        width: 100%;
        height: 3.5rem;
        h1 {
            font-size: 1.5rem;
        }
        #{&}__icon {
            font-size: 1.2rem;
            margin-right: 1rem;
        }
    }
}

@media only screen and (max-width: 400px) {
    html {
        font-size: 100%;
    }
    .section {
        padding: map-get($paddings, "extraSmall");
    }
    .dashboardContainer {
        padding: map-get($paddings, "extraSmall");
    }

    .dashboardNavbar {
        width: 100%;
        height: 3.5rem;
        h1 {
            font-size: 1.5rem;
        }
        #{&}__icon {
            font-size: 1.5rem;
            margin-right: 1rem;
        }
    }

    .teamStandUpList ul {
        ul {
            padding: map-get($paddings, "extraSmall");
            margin-bottom: map-get($margins, "small");
        }
    }
}
