* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --color-primary: rgb(12, 102, 194);
    --color-secondary: rgb(243, 242, 238);
    --color-nav: rgb(12, 102, 194);
    --color-widget: white;
    --font-primary: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    --border: 4px solid var(--color-primary);
    --border-radius: 7px;
    --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --padding: 1rem;
}
html {
    font-size: 100%;
    font-family: var(--font-primary);
}
html,
body,
#root {
    height: 100%;
    min-height: 100%;
    /* background-color: var(--color-secondary); */
}

.signin-container {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
}

.signin {
    width: fit-content;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    border-radius: 2rem;
    padding: 4rem 5rem;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.signin h3 {
    all: unset;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    margin: 0;
    line-height: 1;
    margin-bottom: 3rem;
}

.landingPage {
    background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.5)
        ),
        url("./assets/main.png");
    background-blend-mode: luminosity;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.landingPage h1 {
    text-align: center;
    opacity: 1;
    margin-top: 10rem;
    color: black;
    font-size: 8rem;
    width: 80%;
}

.sidebar {
    background-color: var(--color-nav);
    height: 3.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    position: sticky;
    top: 0;
}
.sidebar h1 {
    all: unset;
    color: white;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    margin: 0px !important;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.sidebar-menu {
    background-color: var(--color-nav);
    width: 350px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    z-index: 10;
    border-right: 2px solid white;
}

.sidebar-menu.active {
    left: 0;
    transition: 350ms;
}

.sidebar-text {
    display: flex;
    justify-content: ce;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.sidebar-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.sidebar-text a:hover {
    background-color: white;
    color: var(--color-nav);
}

.sidebar-menu-items {
    width: 100%;
}

.sidebar-toggle {
    background-color: var(--color-nav);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

span {
    margin-left: 16px;
}
.teamStandUpList {
    width: 100%;
    min-height: 40rem;
    overflow: scroll;
    margin: 0rem auto;
    padding: 1rem;
    border-top: var(--border);
    box-shadow: var(--shadow);
    grid-area: teamList;
    background-color: var(--color-widget);
    border-radius: var(--border-radius);
}
.teamStandUpList ul {
    list-style: none;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #eeeeee;
    border-radius: var(--border-radius);
}
.teamStandUpList ul li {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}
.teamStandUpList ul .param {
    width: 40%;
    font-weight: 500;
}
.teamStandUpList ul .value {
    width: 60%;
    /* word-break: break-all; */
    background-color: white;
    padding: 0.5rem;
    border-radius: var(--border-radius);
}
.teamForm {
    width: 100%;
    height: auto;
    margin: 0rem auto;
    border-top: var(--border);
    box-shadow: var(--shadow);
    padding: 1rem;
    background-color: var(--color-widget);
}
.teamForm div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.teamForm div input {
    display: block;
    width: 100%;
}

#teamFormAdd {
    grid-area: teamForm1;
    background-color: var(--color-widget);
    border-radius: var(--border-radius);
    max-height: 8rem;
}
#teamFormDelete {
    grid-area: teamForm2;
    background-color: var(--color-widget);
    border-radius: var(--border-radius);
    max-height: 8rem;
}
.standUpForm {
    border-radius: var(--border-radius);
    border-top: var(--border);
    width: 100%;
    height: fit-content;
    padding: 1rem;
    margin: auto;
    box-shadow: var(--shadow);
    font-size: 0.8rem;
    grid-area: standup;
    background-color: var(--color-widget);
}
.standUpForm input {
    display: block;
    margin-bottom: 1rem;
    overflow: scroll;
    font-size: 0.8rem;
}
.standUpForm .form-control {
    font-size: 0.8rem;
}
.profile {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: var(--border);
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    margin: auto;
    grid-area: profile;
    padding: 1rem 1rem;
    background-color: var(--color-widget);
    border-radius: var(--border-radius);
    margin-bottom: 1.5rem;
}

.profile .img-holder {
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 70px;
    margin: 0px auto;
    margin-bottom: 0.5rem;
    border: 2px solid white;
    /* margin: 0.5rem auto; */
}
.profile img {
    height: 100%;
    width: 100%;
    border-radius: 70px;
}
.profile ul {
    width: 100%;
    list-style: none;
    padding: 0.5rem 0px;
    background-color: #eeeeee;
    border-radius: var(--border-radius);
}
.profile li {
    color: black;
    font-size: 0.8rem;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 1rem;
    margin-bottom: 0.5rem;
}
.profile .param {
    width: 25%;
    margin-right: 3px;
    font-weight: 500;
    float: left;
}
.profile .value {
    width: 75%;
    word-break: break-all;
    background-color: var(--color-widget);
    padding: 0.5rem;
    border-radius: var(--border-radius);
    margin-left: 1rem;
}
.loader {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#jiraAuth {
    width: 60%;
    height: fit-content;
    margin: 0px auto;
    padding: 1rem;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    border-top: 4px solid black;
    grid-area: jira;
}
#basicInfo {
    width: 20%;
    position: fixed;
    margin-right: 4rem;
    /* display: grid; */
    /* width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 5fr; */

    /* grid-gap: 1.5rem;
    grid-area: basicInfo; */
}
#teamContainer h1 {
    color: var(--color-primary);
    grid-area: teamHeading;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid var(--color-primary);
    margin-bottom: 1rem;
    font-weight: 300;
}
#jiraContainer h1 {
    color: var(--color-primary);
    grid-area: jiraHeading;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--color-primary);
    font-weight: 300;
}
/* #teamContainer hr{
    grid-area: teamRule;
} */
#teamContainer {
    display: grid;
    width: 100%;
    height: 85vh;
    grid-template-columns: 1fr 0.6fr;
    grid-template-rows: 1fr 2fr 2fr 20fr;
    grid-template-areas:
        "teamHeading teamHeading"
        /* "teamRule teamRule" */
        "teamList teamForm1"
        "teamList teamForm2"
        "teamList blank";
    grid-gap: 2rem;
    margin-bottom: 5rem;
}
#jiraContainer {
    display: grid;
    width: 100%;
    height: 85vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr 20fr;
    grid-template-areas:
        "jiraHeading jiraHeading"
        "jira jira"
        "jira jira"
        "jira jira";
    grid-gap: 2rem;
    margin-bottom: 5rem;
}
#sectionContainer {
    margin-left: 25%;
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.dashboardContainer {
    display: flex;
    padding: 2rem;
}
#jiraTable {
    grid-area: jira;
    width: 100%;
    min-height: 40rem;
    overflow: scroll;
    margin: 0rem auto;
    padding: 1rem;
    border-top: var(--border);
    box-shadow: var(--shadow);
    background-color: var(--color-widget);
    border-radius: var(--border-radius);
}
#table {
    width: 100%;
}
#footer {
    display: flex;
}
#footerleft {
    flex-grow: 1;
}
#jiraJqlContainer {
    display: flex;
    width: 100%;
    margin-bottom: 0.5rem;
}
.mb12 {
    margin-bottom: 0.5rem;
}
.ml1 {
    margin-left: 1rem;
}
.jp {
    width: 25px;
    height: 25px;
}
.jiraauthHeading {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 250;
}
.authbtn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.jiraissueurl {
    text-decoration: none;
    color: black;
}
.jiraissueurl:hover {
    color: blue;
    text-decoration: underline;
}
@media only screen and (max-width: 1350px) {
    html {
        font-size: 90%;
    }
    .dashboardContainer {
        grid-template-columns: 0.6fr 1fr 1fr;
        grid-template-areas:
            "profile standup teamList"
            "links standup teamList"
            "links teamForm1 teamList"
            "links teamForm2 teamList"
            "jira jira jira"
            "gitlab gitlab gitlab";
    }
}
.btnCustom {
    background-color: var(--color-primary) !important;
    color: white;
    /* border-radius: var(--border-radius) !important; */
}
.inputCustom {
    border-radius: var(--border-radius) !important;
    color: black;
}
@media only screen and (max-width: 900px) {
    html {
        font-size: 85%;
    }
    .dashboardContainer {
        grid-template-columns: 0.8fr 1fr;
        grid-template-areas:
            "profile teamList"
            "standup teamList"
            "teamForm1 links"
            "teamForm2 links"
            " jira jira"
            " gitlab gitlab";
    }
}

@media only screen and (max-width: 650px) {
    html {
        font-size: 90%;
    }
    .dashboardContainer {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "profile teamForm1"
            "profile teamForm2"
            "teamList teamList"
            "standup standup"
            "links links"
            " jira jira"
            " gitlab gitlab";
    }
}
